<!-- Modal -->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="(modalAbierto)">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!-- Background overlay -->
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <!-- Modal content -->
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <!-- Modal header -->
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10">
            <!-- Icono para el encabezado del modal -->
            <svg class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 4v16m8-8H4"></path>
            </svg>
          </div>
          <!-- Contenido del encabezado del modal -->
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
              Agregar Cliente
            </h3>
          </div>
        </div>
        <!-- Formulario del modal -->
        <div class="mt-5">
          <form (ngSubmit)="guardarCliente()" #clienteForm="ngForm">
            <!-- Campo del formulario: Nombre -->
            <div class="mb-4">
              <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
              <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="nombre" [(ngModel)]="nuevoCliente.nombre" name="nombre" required #nombre="ngModel">
              <!-- Mensaje de error -->
              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-red-500 text-sm">Campo obligatorio</div>
              <!-- Icono de éxito -->
              <div *ngIf="nombre.valid" class="text-green-500 text-sm">&#x2713;</div>
            </div>
            <!-- Campo del formulario: Apellidos -->
            <div class="mb-4">
              <label for="apellidos" class="block text-gray-700 text-sm font-bold mb-2">Apellidos:</label>
              <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="apellidos" [(ngModel)]="nuevoCliente.apellidos" name="apellidos" required #apellidos="ngModel">
              <!-- Mensaje de error -->
              <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="text-red-500 text-sm">Campo obligatorio</div>
              <!-- Icono de éxito -->
              <div *ngIf="apellidos.valid" class="text-green-500 text-sm">&#x2713;</div>
            </div>
            <!-- Campo del formulario: Dirección -->
            <div class="mb-4">
              <label for="direccion" class="block text-gray-700 text-sm font-bold mb-2">Dirección:</label>
              <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="direccion" [(ngModel)]="nuevoCliente.direccion" name="direccion" required #direccion="ngModel">
              <!-- Mensaje de error -->
              <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="text-red-500 text-sm">Campo obligatorio</div>
              <!-- Icono de éxito -->
              <div *ngIf="direccion.valid" class="text-green-500 text-sm">&#x2713;</div>
            </div>
            <!-- Botones del formulario -->
            <div class="flex justify-end">
              <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                [disabled]="clienteForm.invalid">
                Guardar
              </button>
              <button type="button"
                class="ml-2 bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                (click)="cerrarModal()">
                Cancelar
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<app-snackbar [message]="mensajeSnackbar"></app-snackbar>
